<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon aria-hidden="true" name="map"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="category" href="/tabs/category">
      <ion-icon aria-hidden="true" name="pricetag"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
