.info-item {
    display: flex;
    //align-items: center;
    align-items: flex-start;
    margin-bottom: 8px;
    font-size: 16px;
    color: white;

    gap: 8px;
  
    ion-icon {
      margin-right: 8px;
      color: #d5caca;

      flex-shrink: 0;
        margin-top: 4px;
    }

    span {
        word-wrap: break-word; 
        word-break: break-word; 
        flex: 1; 
        font-size: 16px;
        color: white;
      }
  }
  
 