<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <Carousel [items]="[
    {  tipo: 'roteiro', titulo: 'Restaurantes Tradicionais' },
    {  tipo: 'roteiro', titulo: 'Museus Culturais' },
    {  tipo: 'roteiro', titulo: 'Música e Dança' }
  ]" [nome]="'Roteiros da Comunidade'"></Carousel>

  <Carousel [items]="[
    {  tipo: 'roteiro', titulo: 'Cais do Sertão' },
    {  tipo: 'roteiro', titulo: 'Ponte P. Isabel' },
    {  tipo: 'roteiro', titulo: 'Rua do Imperador' }
  ]" [nome]="'Sugestões Para Você'"></Carousel>

  <Carousel [nome]="'Atrações na Localidade'" [items]="[
      {  tipo: 'roteiro', titulo: 'Hotel Central', imagem: 'https://cf.bstatic.com/xdata/images/hotel/max1024x768/142985801.jpg?k=ddd625cf745aa193eb788b12d1527e99acc5d20fdbed110a849608e946086cb2&o=&hp=1' },
      {  tipo: 'roteiro', titulo: 'Clube Metrópole', imagem: 'https://images.sympla.com.br/6239b1e16d776.jpg' },
      {  tipo: 'roteiro', titulo: 'Teatro de Santa Isabel', imagem: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRj5-CfRXyXU5GM9c4UUDk3Su3x3qP7R7YCQ&s'}
    ]"></Carousel>

  <Carousel [items]="[
    {  tipo: 'roteiro', titulo: 'Josefim Ferreira' },
    {  tipo: 'roteiro', titulo: 'Mariana Lima' },
    {  tipo: 'roteiro', titulo: 'Miguel Luis' },
    {  tipo: 'roteiro', titulo: 'Luciana Barbosa' }
  ]" [nome]="'Guias Turísticos'"></Carousel>

</ion-content>