<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ ponto?.Nome_Ponto }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section class="titulo-categorias">
    <h1>{{ ponto?.Nome_Ponto }}</h1>
    <p>Categorias: {{ ponto?.Categorias?.join(', ') || 'Ponto Turístico'}}</p>
  </section>
  <section class="informacoes">
    <InformacaoItemSpan icone="location-outline" [texto]="'Localização: ' + ponto?.Logradouro + ', ' + ponto?.Bairro + ', ' + ponto?.Cidade"></InformacaoItemSpan>
    <InformacaoItemSpan icone="pricetag-outline" [texto]="'Preço: ' + (ponto?.Preco || 'Gratuito')"></InformacaoItemSpan>
    <InformacaoItemSpan icone="time-outline" [texto]="'Horário: ' + (ponto?.Horario || 'Aberto 24hrs')"></InformacaoItemSpan>
    <InformacaoItemSpan icone="call-outline" [texto]="'Contato: ' + (ponto?.Site || 'N/A')"></InformacaoItemSpan>
    <InformacaoItemSpan icone="star-outline" [texto]="'Avaliações: ' + (ponto?.Avaliacao || 'N/A')"></InformacaoItemSpan>
  </section>
 

  <section class="descricao">
    <h2>Descrição</h2>
    <p>{{ ponto?.Descricao_Ponto }}</p>
  </section>

  <h3>Fotos:</h3>
  <FotoContainer [fotos]="fotos"></FotoContainer>
</ion-content>

